@use '@/assets/styles/mixin.module.scss' as *;
@use '@/assets/styles/variable.module.scss' as *;

.wrapper {
    width: 100vw;
    background-color: #ebe6e3;
    display: flex;
    justify-content: center;
}

.header {
    width: 1250px;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    background-color: #ebe6e3;
    .header__logo {
        width: 153px;
        height: 53px;
    }
}

.nav {
    display: flex;
    .nav__item {
        display: flex;
        padding: 0 25px;
        gap: 25px;
        .nav__item__detail {
            color: $primary_color;
            &::after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background-color: $primary_color;
                transition: width 0.3s ease-in-out;
            }
            &:hover::after {
                width: 100%;
            }
        }
    }
}
