.heading-list-product {
    width: 1230px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.product_right {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
