@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    height: 100000px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}
